body
{
	margin:0 ;
	padding: 0;
}
.wrapper
{
	margin:10px auto;
	width:1024px;
	background: #fff;
	height: auto;
}
#wrapper_st
{
	background: red;
	height: auto;
	float: left;
}
.header
{
	width: 100%;
	height: auto;
}
.st_logo
{
	width: 40%;
	float: left;
}
#logo
{
	width: 100%;
	height: 70px;
}
#e_type
{
	background: yellow;
	width: 100%;
	height:80px;
}
.st_e_type
{
	width: 60%;
	float: left;
	height: 150px;
}
/*----------search--------------*/

.input_sc
{
	background: red;
	width: 100%;
}

.st_search
{
	width: 100%;
	background: red;
	margin-left: 10px;
}
.in_form
{
	width: 200px;
	float: left;
	padding: 0.1px;
}
input
{
	border-radius: 0px !important;
}
.form-control
{
	border-radius: 0px !important;
}
/*----------slider---------------*/
#slider
{
	width: 100%;
}	

/*----------search--------------*/
.fixed_left {
    position: fixed;
    top: 30px;
    z-index: 99;
    right: 0px;
}
.fb_book
{
	position: fixed;
    top: 220px;
    z-index: 99;
    left: 0px;
}
.fb_youtube
{
	position: fixed;
    top: 250px;
    z-index: 99;
    left: 0px;
    margin-left: -8px;
}
.fb_job
{
	position: fixed;
    top: 290px;
    z-index: 99;
    left: 0px;
    margin-left: -2px;	
}
.fb_cunter
{
	position: fixed;
    top: 460px;
    z-index: 99;
    left: 0px;
    margin-left: -2px;	
}
nav
{
	list-style-type: none !important;
}
a
{
    display: block !important;
    color: #000;
    padding: 1px 1px;
    text-decoration: none ! important;
}
/*--------------fix------------------*/
.contaner
{
	height: auto;
}
.promotion
{
	float: left;
}
.specials
{

	/*
	background: -webkit-linear-gradient(left,  rgba(305,0,0,0.5), rgba(105,0,0,0)); 
    background: -o-linear-gradient(right, rgba(305,0,0,0.5), rgba(105,0,0,0)); 
    background: -moz-linear-gradient(right, rgba(305,0,0,0.5), rgba(105,0,0,0)); 
    background: linear-gradient(to right, rgba(305,0,0,0.5), rgba(105,0,0,0)); */
}
.head_spr
{	
	background: green;
	position: absolute;
	-ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
    width: 30px;
    height: 28px;
    margin-top: -3px;
    margin-left: 1px;


}
.head_l
{	
	background: red;
	position: absolute;
	-ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
    width: 30px;
    height: 29px;
    margin-top: -4px;
    margin-left: 1.8px;
    z-index:-1;
    left: 257px;
}
.category
{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.st_ca h6
{
	display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    background: green !important;
    font-size: 18px;
    z-index: 1;
}
.st_cate h6
{
	display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    background: red !important;
    font-size: 18px;
    z-index: 1;}
.hr_head
{
	background: green;
	height: 2px;
	width: 1024px;
	margin-top: -10px;
}
.l_head
{

	height: 2px;
	width: 100%;
	margin-top: -10px;
}
#specials
{
//	border :1px solid red;
	width: 100%;
	height: auto;
	float: left;

}

.col_st
{
	width: 25%;
	position: relative;
}
table
{
    border: 1px solid #ddd;
    margin-top: -9px;
    box-shadow: 1px 0px 2px 0px #dfdfdf;
}
td
{
	border-bottom: 1px solid #ddd;
	border: 1px solid #ddd;
}
.col_st h5
{
	font-size: 12px;margin-left: 10px;

}
.price
{
	font-size: 16px;
}
/*-------------footer------------*/
.footer
{
	background:#303030;

	color: #ddd;
	float: left;
	width: 100%;
}
.footer h2{font-size: 14px;}
.footer h5{font-size: 12px;}
.footer a{color: #ddd;}
.footer a:hover{color:#777;}
.Information
{
	width: 32%;
	float: left;
}
.Customer
{
	width: 35%;
	float: left;
}
.Extras
{
	width: 33%;
	float: left;
}
.con_fo{width: 100%;}
.copy_write{width: 100%;float: left; text-align: center;}
.marquee_h{text-align: center;background: #ecf0f1 !important;width: 1024px;float: left; padding: 9px 16px;height: 50px;bottom: 0;position: fixed;border:solid #999 1px ; border-radius: 4px;}
.marquee_h h5{font-size: 16px; color: red;}


.upcoming {
    background:rgba(0, 0, 0, 0) url(../../img/Coming_Soon.png) no-repeat scroll 0 0;
    color: #fff;
    font-size: 1px;
    height: 110px;
    left: -6px;
    padding-top: 40px;
    position: absolute;
    text-align: center;
    top: -4px;
    width: 230px;
    border-radius: 10px 10px 10px 10px;
}
#bd_f{  color: #fff;}
.j_oppurt h1{padding: 10px 10px;}
.j_oppurt h6{line-height: 10px !important;margin-left: 10px;font-family: "Open Sans",sans-serif; color: #555;}


.tb_row {
	background-color: #fff; position: relative; width: 25%; height: 540px; float: left; border-right:solid 1px #ddd;border-bottom:solid 1px #ddd;}
.tb_row img{text-align: center;}
.tb_row h3,h5{margin-left: 20px;}
.tb_row h5{font-size: 12px;margin-left: 0px; line-height: 20px;}

.priceShow{
	color: red;
	font-size: 20px;
	position: absolute;
	top: 145px;
	right: 40px;
}
.tilePro h3{
	color: #606060;
	font-size: 15px;
	font-weight: 700;
	position: absolute;
	top: 160px;

}
.descripshow h5{
	position: absolute;
	top: 220px;

}
.newArrival{
	position: absolute;
	top: 210px;
	left: 10px;

}