ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
   
    /*background: -webkit-linear-gradient(#2c299e, #2c277e, #2c299e);
    background: -o-linear-gradient(#2c299e, #2c277e, #2c299e); 
    background: -moz-linear-gradient(#2c299e, #2c277e, #2c299e); 
    background: linear-gradient(#2c299e, #2c277e, #2c299e); */

}

li {
    float: left;
}
.over
{
   /* background: blue;
    height: 10px;*/
}
li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 7px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif !important;
    background: #2c299e;
    box-shadow: 0 10px 3px 0px rgba(0,0,0,.2) inset, 0px 15px 15px -5px #ccc;


    }

li a:hover:not(.active) {
  opacity: 1;
  box-shadow: 0-10px 3px rgba(0,0,0,.2) inset, 0 15px 15px -5px #ccc;
  -moz-transform: rotateX(20deg);
  -webkit-transform: rotateX(20deg);
  transform: rotateX(20deg);
  -moz-transform-origin: 50% 0;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition: all .5s;
  transition: all .3s;
  text-decoration: none;
  color: #fff;
  border-radius:0px 0px 5px 5px ;
  background-color: #2c2bbe;


}

.active {
    background-color: #2c2bbe;
    border-radius: 0px 0px 0px 0px;

}
.active:hover
{
  opacity: .9;
  box-shadow: 0-10px 3px rgba(0,0,0,.2) inset, 0 15px 15px -5px #ccc;
  -moz-transform: rotateX(20deg);
  -webkit-transform: rotateX(20deg);
  transform: rotateX(20deg);
  -moz-transform-origin: 50% 0;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition: all .5s;
  transition: all .3s;
  text-decoration: none;
  color: #fff;
  border-radius:0px 0px 5px 5px ;
  background-color: #2c2bbe;
}
#menu
{
    float: left;
    padding: 0px;
    width: 100%;
    padding: 0px;
    margin-top: 10px;

}
.Mouse
{
    border-radius: 0px 6px 0px 0px;
}
ul li a{margin: 0.5px;}